<!-- style="background-image: url(assets/images/background/login-register.jpg)" -->
<div class="login-register">
  <div class="login-register-box" style="width: 500px">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo-minedu.png" height="50px" width="200px" />
            <h5 class="m-t-10">Cambiar contraseña</h5>
          </div>
          <p class="text-center font-14">Ingrese su nueva contraseña</p>

          <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1">
              <mat-form-field style="width: 100%">
                <input
                  matInput
                  placeholder="Contraseña antigua"
                  type="password"
                  [formControl]="form.controls['oldClave']"
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['oldClave'].hasError('required') && form.controls['oldClave'].touched
                "
                class="text-danger support-text"
                >La contraseña antigua es obligatorio</small
              >
            </div>
            <div class="pb-1">
              <mat-form-field style="width: 100%">
                <input
                  matInput
                  placeholder="Contraseña nueva"
                  type="password"
                  [formControl]="form.controls['newClave']"
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['newClave'].hasError('required') && form.controls['newClave'].touched
                "
                class="text-danger support-text"
                >La contraseña nueva es obligatoria</small
              >
            </div>

            <div class="pb-1">
              <mat-form-field style="width: 100%">
                <input
                  matInput
                  placeholder="Confirmar Contraseña nueva"
                  type="password"
                  [formControl]="form.controls['newClave2']"
                />
              </mat-form-field>
              <small *ngIf="contrasenasNoValidas()" class="text-danger support-text"
                >Las contraseñas deben ser iguales</small
              >
              <!-- <small
                  *ngIf="
                  form.controls['newClave'].hasError('required') && form.controls['newClave'].touched
                  "
                  class="text-danger support-text"
                  >La contraseña nueva es obligatoria</small
                  > -->
            </div>

            <!-- [formControl]="form.controls['newClave']" -->
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="btn-block btn-sm m-t-20"
              [disabled]="!form.valid"
            >
              Enviar
            </button>
            <button
              mat-raised-button
              color="success"
              type="button"
              [routerLink]="['/home']"
              class="btn-block btn-sm m-t-20"
            >
              Regresar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
