<!-- <div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            Cupidatat et minim cillum officia adipisicing nostrud mollit consequat. In exercitation
            ut excepteur nulla veniam. Fugiat ut enim veniam consectetur commodo in eiusmod nisi.
            Voluptate aliquip proident tempor tempor mollit proident proident consequat. Ullamco
            nisi ut irure in.
          </div>
          <div fxFlex.gt-md="75" class="p-20">
            <button mat-raised-button color="primary">Buscar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<div class="login-register">
  <div class="login-register-box error-card">
    <h2>Confirmación de cuenta</h2>
    <h3 class="text-uppercase">Hola, {{ this?.usuario?.NOMBRE_PERSONA }}</h3>
    <p class="text-muted m-t-30 m-b-30">
      Se validó los datos proporcionados, para activar tu cuenta ingresa a tu correo personal de:
      {{ this?.usuario?.personaInstituciones[0]?.CORREO }}
    </p>
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['/']"
      class="btn btn-info btn-rounded waves-effect waves-light m-b-40"
      >Iniciar sesión</a
    >
  </div>
</div>
